* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.nav-up {
  background-color: rgb(255, 249, 227);
  border-bottom: 1px solid black;
  height: 60px;
  position: relative;
}

.nav-down {
  background-color: pink;
  height: 60px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 0px 0px 3px 5px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.select-language {
  height: 30px;
  position: absolute;
  left: 200px;
  top: 50%;
  transform: translate(0px, -15px);
}

.contact-us {
  position: absolute;
  left: 330px;
  top: 50%;
  transform: translate(0px, -15px);
  border-left: 1px solid black;
  padding-left: 30px;
}


.nav-up-right-container {
  height: 50px;
  width: 400px;
  position: absolute;
  right: 200px;
  top: 50%;
  transform: translate(0px, -25px);
}

.login-button {
  height: 100%;
  width: 60px;
  border: 1px solid orange;
  float: right;
  margin-left: 20px;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
}


.gethubspot-button {
  height: 100%;
  width: 150px;
  background-color: orange;
  color: white;
  float: right;
  margin-left: 20px;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
}

.fa-search {
  float: right;
  margin-top: 10px;
}

.introduction {
  background-color: rgb(255, 0, 128);
}

.introduction-col-right {
  width: 500px;
  height: 600px;
  background-color: purple;
  border: 2px solid black;
  position: relative;
  left: 200px;
}

.introduction-bottom-bar {
  background-color: rgb(255, 0, 255);
  border: 2px solid black;
  height: 60px;
}

.services{
  background-color: rgb(191, 0, 255);
}

.servicesintro-box {
  background-color: rgb(128, 0, 255);
  border: 2px solid black;
  height: 400px;
  width: 600px;
  position: relative;
  left: 50%;
  transform: translate(-300px);
}

.learnmore-box {
  width: calc(100% - 400px);
  height: 350px;
  background-color: rgb(64, 0, 255);
  border: 2px solid black;
  position: relative;
  left: 200px;
}

.servicebox-container::after {
  display: table;
  content: '';
  clear: both;
}

.servicebox-container {
  background-color: rgb(0, 191, 255);
  width: calc(100% - 400px);
  margin-left: 200px;
  position: relative;
}

.servicebox {
  width: 300px;
  height: 650px;
  background-color: rgb(0, 128, 255);
  border: 2px solid black;
  float: left;
  margin-top: 40px;
  margin-bottom: 40px;
}

.ser2-box {
  position: absolute;
  left: 50%;
  transform: translate(-150px);
}

.ser3-box {
  position: absolute;
  right: 0px;
}

.stats {
  height: 700px;
  background-color: rgb(0, 255, 255);
  border: 2px solid black;
}

.stats-intro {
  height: 200px;
  width: calc(100% - 400px);
  background-color: rgb(0, 255, 191);
  border: 2px solid black;
  margin: 20px 200px 30px 200px;
}

.stats-table {
  height: 400px;
  background-color: rgb(0, 255, 128);
  border: 2px solid black;
  width: calc(100% - 400px);
  margin: 20px 200px 30px 200px;
}

.table-element {
  float: left;
  height: 200px;
  width: 25%;
  background-color: rgb(64, 255, 0);
  border: 2px solid black;
}

.pre-footer-container {
  height: 700px;
  background-color: rgb(255, 255, 0);
  border: 2px solid black;
}

.pre-footer-1 {
  border: 2px solid black;
  height: 250px;
  width: calc(100% - 500px);
  margin-left: 250px;
  position: relative;
  background-color: rgb(0, 128, 255);
}

.pre-footer-2 {
  height: 450px;
  width: calc(100% - 400px);
  margin-left: 200px;
  border: 2px solid black;
  position: relative;
  background-color: rgb(0, 255, 191);
}

.info-customers {
  height: 100%;
  width: 250px;
  border: 2px solid black;
  background-color: rgb(255, 191, 0);
  position: absolute;
}

.sponsor {
  height: 150px;
  width: 600px;
  border: 2px solid black;
  background-color: rgb(255, 64, 0);
  position: absolute;
  right: 0px;
  top: 40px;
}

.get-hub {
  height: 100%;
  width: 500px;
  border: 2px solid black;
  background-color: rgb(255, 191, 0);
  position: absolute;
}

.image {
  height: 400px;
  width: 400px;
  border: 2px solid black;
  background-color: rgb(255, 191, 0);
  position: absolute;
  right: 0px;
}

footer {
  height: 600px;
  background-color: rgb(0, 128, 255);

}

.columns-container {
  width: calc(100% - 400px);
  margin-left: 200px;
  border: 2px solid black;
  background-color: red;
}

.columns-container::after {
  display: table;
  content: '';
  clear: both;
}

.column {
  float: left;
  height: 350px;
  width: 25%;
  border: 2px solid black;
  background-color: orange;
}

.languages {
  height: 60px;
  width: calc(100% - 400px);
  margin-left: 200px;
  margin-top: 30px;
  border: 2px solid black;
  background-color: blue;
}

.copyright {
  height: 120px;
  width: calc(100% - 400px);
  margin-left: 200px;
  margin-top: 30px;
  border: 2px solid black;
  background-color: green;
}
